ADMIN_PASSWORD=replace_with_admin_password
ADMIN_SESSION_SECRET=replace_with_long_random_secret
ADMIN_SESSION_TTL_MS=43200000

QQ_SMTP_HOST=smtp.qq.com
QQ_SMTP_PORT=465
QQ_SMTP_USER=your_qq_email@qq.com
QQ_SMTP_PASS=your_qq_smtp_authorization_code
CONTACT_TO=your_receive_email@qq.com
